.App {
  text-align: center;
  background-color: #054d26;
  min-height: 100vh;
  color: white;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.start-button {
  position: relative;
  padding: 12px 24px;
  background: gold;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  left: -600px;
}

.reset-button {
  position: relative;
  top: 150px;
  left: -733px;
  padding: 12px 24px;
  background: red;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.community-cards {
  display: flex;
  justify-content: center;
  margin-top: -40px;
  gap: 10px;
}

.community-cards .card {
  background: white;
  border: 1px solid #ccc;
  padding: 4px 8px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 6px;
}