.App {
  text-align: center;
  background-color: #054d26;
  min-height: 100vh;
  color: white;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.start-button {
  padding: 12px 24px;
  background: gold;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.reset-button {
  position: absolute;
  top: 650px;
  left: 687px;
  padding: 12px 24px;
  background: red;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}